.knopType1 rect {
  fill: #000000;
}

.knopType1 g polygon {
  opacity: 1;
}

.knopType1 circle {
  fill: #ffffff;
  stroke: rgb(190, 101, 101);
  stroke-width: 10;
  filter: url(#dropshadow);
}

.knopType1 text {
  font-size: 8px;
  fill: #000000;
  font-family: "Gill Sans";
  font-weight: 30;
  -webkit-transition: all 0.1s ease-in-out;
}

.knopType1 text.active {
  font-size: 15px;
  -webkit-transition: all 0.1s ease-in-out;
}
