.p3 rect {
  fill: #000000;
}

.p3 g polygon {
  opacity: 1;
}

.p3 circle {
  fill: #ffffff;
  stroke: rgb(190, 101, 101);
  stroke-width: 4;
  filter: url(#dropshadow);
}

.p3 text {
  font-size: 8px;
  fill: #000000;
  font-family: sans-serif;
  font-weight: 30;
  -webkit-transition: all 0.1s ease-in-out;
}

.p3 text.active {
  font-size: 15px;
  -webkit-transition: all 0.3s ease-in-out;
}
