#outer-grid {
  display: grid;
  grid-template-areas:
    "b b a c c"
    "b b e c c"
    "d d e f f"
    "d d e f f";
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  width: 90vw;
  height: 90vh;
  gap: 2% 2%;
}
#outer-grid > div {
  background-color: rgba(206, 200, 200, 0.685);
  border: 3px solid rgba(90, 88, 88, 0.8);
  padding: 20px;
  border-radius: 20px;
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.e {
  grid-area: e;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.f {
  grid-area: f;
}

html,
body {
  margin: 1%;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(190, 101, 101);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6ff36b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6ff36b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}
h1 {
  text-align: center;
  font-size: 20px;
}
/*nodig voor de XY-feature*/
.grafiek {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.rotated {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 10px;
  height: 200px;
  margin-right: 5px;
}
.centreren {
  display: flex;
  justify-content: center;
}
.verticaalCentreren {
  position: relative;
}
.v-centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*JVLS kolommen*/
.container {
  display: flex;
}
.kolom {
  margin: 5px;
}
/*groene blokken*/
.led {
  background-color: grey;
  width: 30px;
  height: 10px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}
.ledOn {
  background-color: green;
  width: 30px;
  height: 10px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-column: 1 / -1; /* spans all columns */
  grid-row: 1;
  color: #000007;
}

#test {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#test2 {
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
