#outer-grid {
  display: grid;
  grid-template-areas:
    "b b a c c"
    "b b a c c"
    "b b e c c"
    "d d e f f"
    "d d e f f"
    "d d e f f";
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(6, 16%);
  width: 90vw;
  height: 90vh;
  gap: 2% 2%;
}
#outer-grid > div {
  background-color: rgba(206, 200, 200, 0.685);
  border: 3px solid rgba(90, 88, 88, 0.8);
  padding: 20px;
  border-radius: 20px;
}

#graph_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-areas:
    "lx gr"
    ".  ly";
}

.lx {
  grid-area: lx;
}
.ly {
  grid-area: ly;
}

.gr {
  grid-area: gr;
}

.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative; /* make the container a positioned ancestor */
}

.d {
  grid-area: d;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}
.e {
  grid-area: e;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.f {
  grid-area: f;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

html,
body {
  /* margin: 1%; */
  /* height: 90%; */
  background-color: rgb(100, 100, 100);
}

h1 {
  text-align: center;
  font-size: 20px;
}
/*nodig voor de XY-feature*/
.grafiek {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.rotated {
  -webkit-appearance: slider-vertical;
  width: 10px;
  height: 200px;
  margin-right: 5px;
  background-color: beige;
}
.centreren {
  display: flex;
  justify-content: center;
}
.verticaalCentreren {
  position: relative;
}
.v-centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*JVLS kolommen*/
.container {
  display: flex;
}
.kolom {
  margin: 20px;
}
/*groene blokken*/
.led {
  background-color: grey;
  width: 30px;
  height: 10px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}
.ledOn {
  background-color: #6ff36b;
  width: 30px;
  height: 10px;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-column: 1 / -1; /* spans all columns */
  grid-row: 1;
  color: #000007;
  font-family: fantasy;
}
.collSpannAll {
  grid-column: 1 / -1; /* spans all columns */
}

#test {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#test2 {
  grid-column-start: 4;
  grid-column-end: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#ledsc {
  grid-column-start: 2;
  grid-column-end: 4;
}

#c_labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h5 {
  justify-content: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  position: relative; /* make the container a positioned ancestor */
}

.label_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-family: fantasy;
  margin: 5px;
}

.rij_knoppen {
  display: flex;
  align-items: flex-start;
}

#ap {
  margin-right: 10px;
}

.LABEL {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.LABELX {
  display: flex;
  align-items: center;
  flex-direction: column;
}
